<div class="container">
    <div class="row justify-content-center align-items-center" >
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">User Info</h1>
          </div>
          <div class="card-body">
            <p><strong>Name:</strong> {{currentUser.name}}</p>
            <p><strong>Email:</strong> {{currentUser.email}}</p>
            <p><strong>Contact:</strong> {{currentUser.contact}}</p>
            <p><strong>Address:</strong> {{currentUser.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  